{% extends 'base.html' %}
{% block title %}ZaruView{% endblock %}
{% block body %}
<!-- Barra de Pesquisa -->
<div class="container">
    <div class="col" id="form">
        <form onsubmit="get_video(this.name);">
            <div class="form-row justify-content-center">
              <div class="col-9">
                <label class="sr-only" for="inlineFormInput">Titulo
                </label>
                <input type="text" name="titulo" class="form-control mb-2" id="inlineFormInput" placeholder="Digite o título do vídeo a ser pesquisado">
              </div>
            </div>
          </form>
    </div>
</div>
<!-- Lista de Videos Mais Curtidos -->
<div class="container">
  <div id="pesquisa">
    
  </div>
    <div class="row justify-content-center">
      {% for video in videos_mais_curtidos %}
        <a href="{{url_for('video', categoria_id=video.get_categoria_id() ,id=video.get_id())}}">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_for('static', filename=video.get_thumbnail_URL())}}" alt="Card image cap">
            <div class="card-header">
              {{video.get_titulo()}}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col align-self-start">
                  {{video.get_visualizacoes()}} views
                </div>
                <div class="col align-self-end" style="text-align: end;">
                  {{video.get_curtidas()}} curtidas
                </div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
</div>

<!--Lista de Categorias-->
<div class="container">
  <div class="row justify-content-center"><h3>Categorias</h3></div>
  <div class="row justify-content-center" id="categorias">
    {% for categoria in lista_categorias %}
      <a href="{{url_for('categoria', id=categoria.get_id())}}">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{url_for('static', filename=categoria.get_thumbnail_URL())}}" alt="Card image cap">
          <div class="card-header">
            {{categoria.get_titulo()}}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
<script>
    var get_video = function(titulo){
    let xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
    if(xhr.readyState == 4 && xhr.status == 200) {
      document.getElementById("pesquisa").innerHTML = xhr.response;
      }
    }
  xhr.open("GET", "/pesquisa?titulo="+titulo, titulo);
  xhr.setRequestHeader("Accept", "text/html")
  xhr.send();
  }
</script>

{% endblock %}
