{% extends 'base.html' %}
{% block title %}ZaruView{% endblock %}
{% block body %}
<!-- Barra de Pesquisa -->
<div class="container">
    <div class="col">
        <form>
            <div class="form-row justify-content-center">
              <div class="col-9">
                <label class="sr-only" for="inlineFormInput">Titulo
                </label>
                <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Digite o título do vídeo a ser pesquisado">
              </div>
            </div>
          </form>
    </div>
</div>
<!-- Lista de Videos Mais Curtidos -->
<div class="container">
    <div class="row">

    </div>
</div>

{% endblock %}