{% extends 'base.html' %}
{% block title %}{{video.get_titulo()}}{% endblock %}
{% block body %}
<div class="container" style="align-items: center;">
    <div class="embed-responsive-16by9">
        <video class="embed-responsive-item" src="{{url_for('static', filename=video.get_video_URL())}}"  type="video/mp4" width="100%" controls></video>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="card" style="width:98%;">
                <div class="card-body">
                    <h2 class="card-title">{{video.get_titulo()}}</h2>
                    <div class="row">
                        <div class="col align-self-start">
                            {{video.get_data_publicacao()}}
                        </div>
                        <div class="col align-self-end" style="text-align: end;">
                            <input type="submit" class="btn" value="Curtir">
                            {{video.get_curtidas()}} curtidas
                            {{video.get_visualizacoes()}} views
                        </div>
                      </div>
                </div>
                <div class="card-body">
                    <p class="card-text">{{video.get_descricao()}}</p>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
           <div id="comentarios">
               
           </div>
            <form>
                <div class="form-row">
                  <div class="col">
                    <input type="autor" class="form-control" placeholder="Seu Nome">
                  </div>
                  <div class="col">
                    <input type="conteudo" class="form-control" placeholder="Comentário">
                  </div>
                </div>
              </form>
        </div>
    </div>
</div>
{% endblock %}