a {
    color:#4b0082;
    padding: 5px;
}

a:hover {
    color:#4b0082;
    text-decoration: none;
}
h3{
    color:#ffffff;
}
.fab {
    padding: 5px;
}
#pesquisa{
    padding: 15px;
}

.form{
    padding: 10px;

}
.card-header{
    text-align: center;
}
.blank{
    height: 2.5;
}